* {
    margin: 0;
}

div {
    width: 100px;
    height: 100px;
    margin: 20% auto;
    border: 20px solid red;
    border-top: 20px solid green;
    border-bottom: 20px solid green;
    outline: yellow 4px solid;
}