.box {
    display: flex;
    border: 1px dashed red;
}

.box div {
    border: 1px solid;
}

.box div:nth-child(1) {
    order: 4;
}

.box div:nth-child(2) {
    order: 3;
}

.box div:nth-child(3) {
    order: 2;
}

.box div:nth-child(4) {
    order: 1;
}